body {
    background-color: grey;
}

.board-section{
    display: flex;
    justify-content: center;
    margin-top: 100;
}

.board {
    width: 45%;
    height: auto;
    margin-top: 100;
}

.row {
    width: 100%;

    overflow: hidden;
    display: flex;
    justify-content: center;
}

img {
    width: 35;
    height: 35;
    margin-left: 40;
    margin-right: 40;
}
