body {
    background-color: grey;
}

.board-section{
    display: flex;
    justify-content: center;
    margin-top: 100;
}

.board {
    width: 45%;
    height: auto;
    transform: rotate(30deg);
    position: absolute;
}

img {
    width: 50;
    height: auto;
    
}

.tile {
    position: relative;
    display: inline
}