body {
    background-color: grey;
}

.board-section{
    display: flex;
    justify-content: center;
    margin-top: 100;
}

.board {
    width: 45%;
    height: auto;
    margin-top: 100;
}

.row {
    width: 100%;

    overflow: hidden;
    display: flex;
    justify-content: center;
}

.tile {
    width: 35;
    height: 35;
    padding-left: 40;
    padding-right: 40;
    z-index: 0;
}

.piece {
    position: absolute;
    width: 28;
    height: 28;
    right: 38%;
    bottom: 5;
    z-index: 1;
}

.container {
    position: relative;
}